@import "normalize";
@import "js-image-slider";

/* http://colorschemedesigner.com/#0c41TsJjAw0w0 */

$dark-brown: #9C3210;
$light-brown: #CEA068;

.content {
  background-color: $light-brown;
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#slider{
  margin-top: 30px;
}

.description {
  width:600px;
  margin: 60px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
}
.bold { font-weight: bold; }
a {
  color: $dark-brown;
  text-decoration: none;
}

.footer {
  background-color: $dark-brown;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $light-brown;
  }

}

