---
title: 'titles.order'
---

<div class='order centered'>
  <h1><%= I18n.t('order.title') %></h1>
  <p>
    <%= I18n.t('order.description') %>
  </p>
</div>
<iframe  class="order-iframe" frameborder="0" allowtransparency="true" seamless="seamless" width="55%" height="600" src="https://docs.google.com/a/organiko.es/forms/d/1vy2KGf47SEbAixQRIPQpG68Prjw1Za-jMLdO8rUpQLc/viewform"></iframe>

<div class=' doubts centered'>
  <p>
    <%= I18n.t('order.doubts') %>
  </p>
  <%= partial 'contact' %>
</div>
